## Importing Modules

In [1]:
import pandas as pd
import numpy as np

## Basic Data Exploration

In [2]:
df= pd.read_csv("/kaggle/input/pima-indians-diabetes-database/diabetes.csv")

In [3]:
df.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df.tail(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
758,1,106,76,0,0,37.5,0.197,26,0
759,6,190,92,0,0,35.5,0.278,66,1
760,2,88,58,26,16,28.4,0.766,22,0
761,9,170,74,31,0,44.0,0.403,43,1
762,9,89,62,0,0,22.5,0.142,33,0
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [6]:
df.sample(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
311,0,106,70,37,148,39.4,0.605,22,0
764,2,122,70,27,0,36.8,0.340,27,0
165,6,104,74,18,156,29.9,0.722,41,1
479,4,132,86,31,0,28.0,0.419,63,0
145,0,102,75,23,0,0.0,0.572,21,0
504,3,96,78,39,0,37.3,0.238,40,0
712,10,129,62,36,0,41.2,0.441,38,1
381,0,105,68,22,0,20.0,0.236,22,0
477,7,114,76,17,110,23.8,0.466,31,0
175,8,179,72,42,130,32.7,0.719,36,1

## Mean and Median

In [7]:
np.mean([1,3,5,4])

3.25

In [8]:
np.median([1,3,5,4])

3.5

## Describe Function

In [9]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [11]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [12]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [14]:
df['BMI/Preg'] = df['BMI']/df['Pregnancies']

In [15]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,BMI/Preg
0,6,148,72,35,0,33.6,0.627,50,1,5.6000
1,1,85,66,29,0,26.6,0.351,31,0,26.6000
2,8,183,64,0,0,23.3,0.672,32,1,2.9125
3,1,89,66,23,94,28.1,0.167,21,0,28.1000
4,0,137,40,35,168,43.1,2.288,33,1,inf

## Conditional Selection

#### Normal Way

In [35]:
df['Age']

0      50
1      31
2      32
3      21
4      33
       ..
763    63
764    27
765    30
766    47
767    23
Name: Age, Length: 768, dtype: int64

In [39]:
df[['Age','BMI']]

     Age   BMI
0     50  33.6
1     31  26.6
2     32  23.3
3     21  28.1
4     33  43.1
..   ...   ...
763   63  32.9
764   27  36.8
765   30  26.2
766   47  30.1
767   23  30.4

[768 rows x 2 columns]

In [42]:
df[df['Age']>30]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,BMI/Preg
0,6,148,72,35,0,33.6,0.627,50,1,5.600000
1,1,85,66,29,0,26.6,0.351,31,0,26.600000
2,8,183,64,0,0,23.3,0.672,32,1,2.912500
4,0,137,40,35,168,43.1,2.288,33,1,inf
8,2,197,70,45,543,30.5,0.158,53,1,15.250000
...,...,...,...,...,...,...,...,...,...,...
759,6,190,92,0,0,35.5,0.278,66,1,5.916667
761,9,170,74,31,0,44.0,0.403,43,1,4.888889
762,9,89,62,0,0,22.5,0.142,33,0,2.500000
763,10,101,76,48,180,32.9,0.171,63,0,3.290000
766,1,126,60,0,0,30.1,0.349,47,1,30.100000

#### loc

In [36]:
df.loc[:,"Age"]

0      50
1      31
2      32
3      21
4      33
       ..
763    63
764    27
765    30
766    47
767    23
Name: Age, Length: 768, dtype: int64

In [40]:
df.loc[1:11,['Age','BMI']]

    Age   BMI
1    31  26.6
2    32  23.3
3    21  28.1
4    33  43.1
5    30  25.6
6    26  31.0
7    29  35.3
8    53  30.5
9    54   0.0
10   30  37.6
11   34  38.0

In [43]:
df.loc[df['Age']>30]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,BMI/Preg
0,6,148,72,35,0,33.6,0.627,50,1,5.600000
1,1,85,66,29,0,26.6,0.351,31,0,26.600000
2,8,183,64,0,0,23.3,0.672,32,1,2.912500
4,0,137,40,35,168,43.1,2.288,33,1,inf
8,2,197,70,45,543,30.5,0.158,53,1,15.250000
...,...,...,...,...,...,...,...,...,...,...
759,6,190,92,0,0,35.5,0.278,66,1,5.916667
761,9,170,74,31,0,44.0,0.403,43,1,4.888889
762,9,89,62,0,0,22.5,0.142,33,0,2.500000
763,10,101,76,48,180,32.9,0.171,63,0,3.290000
766,1,126,60,0,0,30.1,0.349,47,1,30.100000

#### iloc

In [38]:
df.iloc[:,7]

0      50
1      31
2      32
3      21
4      33
       ..
763    63
764    27
765    30
766    47
767    23
Name: Age, Length: 768, dtype: int64

In [41]:
df.iloc[12:19,[7,5]]

    Age   BMI
12   57  27.1
13   59  30.1
14   51  25.8
15   32  30.0
16   31  45.8
17   31  29.6
18   33  43.3

In [ ]:
df.iloc[list(df['Age']>30)]

## Apply function

In [57]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,BMI/Preg,status,status1
0,6,148,72,35,0,33.6,0.627,50,1,5.6000,High,High
1,1,85,66,29,0,26.6,0.351,31,0,26.6000,Normal,Normal
2,8,183,64,0,0,23.3,0.672,32,1,2.9125,High,High
3,1,89,66,23,94,28.1,0.167,21,0,28.1000,Normal,Normal
4,0,137,40,35,168,43.1,2.288,33,1,inf,Normal,Normal

In [53]:
def preg_func(p):
    if(p<=2):
        return "Normal"
    else:
        return "High"

In [54]:
df['status']=df['Pregnancies'].apply(preg_func)

Lambda Function

In [56]:
df['status1']=df['Pregnancies'].apply(lambda x:"Normal" if x<=2 else "High")

## Groupby Functions

In [61]:
df_grp_preg=df.groupby('status')

In [63]:
df_grp_preg.mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,BMI/Preg
status,,,,,,,,,,
High,6.233890,125.443914,71.484487,18.558473,71.735084,31.930072,0.449332,38.112172,0.434368,6.132206
Normal,0.977077,115.432665,66.249284,22.911175,89.481375,32.067622,0.498943,27.392550,0.246418,NaN

In [64]:
df_grp_preg.get_group("High")

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,BMI/Preg,status,status1
0,6,148,72,35,0,33.6,0.627,50,1,5.600000,High,High
2,8,183,64,0,0,23.3,0.672,32,1,2.912500,High,High
5,5,116,74,0,0,25.6,0.201,30,0,5.120000,High,High
6,3,78,50,32,88,31.0,0.248,26,1,10.333333,High,High
7,10,115,0,0,0,35.3,0.134,29,0,3.530000,High,High
...,...,...,...,...,...,...,...,...,...,...,...,...
759,6,190,92,0,0,35.5,0.278,66,1,5.916667,High,High
761,9,170,74,31,0,44.0,0.403,43,1,4.888889,High,High
762,9,89,62,0,0,22.5,0.142,33,0,2.500000,High,High
763,10,101,76,48,180,32.9,0.171,63,0,3.290000,High,High
765,5,121,72,23,112,26.2,0.245,30,0,5.240000,High,High

In [66]:
df_grp_preg_out=df.groupby(['status','Outcome'])

In [67]:
df_grp_preg_out.first()

                Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin  \
status Outcome
High   0                  5      116             74              0        0
       1                  6      148             72             35        0
Normal 0                  1       85             66             29        0
       1                  0      137             40             35      168

                 BMI  DiabetesPedigreeFunction  Age  BMI/Preg status1
status Outcome
High   0        25.6                     0.201   30      5.12    High
       1        33.6                     0.627   50      5.60    High
Normal 0        26.6                     0.351   31     26.60  Normal
       1        43.1                     2.288   33       inf  Normal

In [68]:
df_grp_preg_out.mean()

                Pregnancies     Glucose  BloodPressure  SkinThickness  \
status Outcome
High   0           5.801688  113.624473      70.687764      17.565401
       1           6.796703  140.835165      72.521978      19.851648
Normal 0           1.041825  106.695817      65.927757      21.555133
       1           0.779070  142.151163      67.232558      27.058140

                   Insulin        BMI  DiabetesPedigreeFunction        Age  \
status Outcome
High   0         57.789030  30.394937                  0.393730  36.983122
       1         89.895604  33.929121                  0.521736  39.582418
Normal 0         78.707224  30.222433                  0.462179  25.969582
       1        122.430233  37.710465                  0.611372  31.744186

                BMI/Preg
status Outcome
High   0        6.207580
       1        6.034055
Normal 0             NaN
       1             NaN

In [70]:
df_grp_preg_out.agg(
max_glucose=pd.NamedAgg("Glucose","max"),
    mean_bmi=pd.NamedAgg("BMI","mean")
)2

                max_glucose   mean_bmi
status Outcome
High   0                197  30.394937
       1                197  33.929121
Normal 0                193  30.222433
       1                199  37.710465