In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv("/kaggle/input/pima-indians-diabetes-database/diabetes.csv")

In [4]:
df.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1

In [5]:
type(df)

pandas.core.frame.DataFrame

In [7]:
df.tail(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
758,1,106,76,0,0,37.5,0.197,26,0
759,6,190,92,0,0,35.5,0.278,66,1
760,2,88,58,26,16,28.4,0.766,22,0
761,9,170,74,31,0,44.0,0.403,43,1
762,9,89,62,0,0,22.5,0.142,33,0
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [10]:
df.sample(10)2

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
516,9,145,88,34,165,30.3,0.771,53,1
210,2,81,60,22,0,27.7,0.290,25,0
494,3,80,0,0,0,0.0,0.174,22,0
529,0,111,65,0,0,24.6,0.660,31,0
273,1,71,78,50,45,33.2,0.422,21,0
225,1,87,78,27,32,34.6,0.101,22,0
402,5,136,84,41,88,35.0,0.286,35,1
374,2,122,52,43,158,36.2,0.816,28,0
558,11,103,68,40,0,46.2,0.126,42,0
363,4,146,78,0,0,38.5,0.520,67,1